@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin-slow {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shadow-avatar {
  box-shadow: 0 0 30px rgba(255, 56, 255, 0.8), 0 0 60px rgba(128, 90, 213, 0.6);
}
.animate-hologram-text {
  background-size: 200%;
  animation: holo-shine 5s ease-in-out infinite;
}

@keyframes holo-shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
